p{
    font-size: 18px;
    color: #990038;
    background-color: #f2eeee;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
    display: block;
  }
  
  button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  /* textarea {
    font-size: 16px;
    padding: 12px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
    display: block;
  } */
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    color: #7e0808;
  }
  label {
    font-size: 18px;
    margin-bottom: 10px;
   display: block;
  }
  
  /* Style for the select dropdown */
  select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px; /* Space between dropdown and paragraph */
   display: block;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #1ba400;
    display: block;
  }